@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  @apply font-['Raleway'];
}

.logo {
  @apply text-xl md:text-2xl text-neutral font-extrabold font-['Raleway'];
}

.nav-btn {
  @apply btn text-sm! md:text-base px-2.5 md:px-4 text-white;
}

.btn,
a.nav-link {
  @apply text-sm sm:text-base font-bold sm:font-semibold;
}

a.nav-link {
  @apply capitalize rounded-none bg-transparent py-0.5 px-0 border-b-2 border-transparent w-fit;
}

a.nav-link:hover,
a.nav-link.active {
  @apply text-primary border-primary;
}

.footer-link {
  @apply link link-hover;
}

.footer-social-icon {
  @apply inline-block mr-1.5;
}

.nav-footer-linear {
  @apply bg-linear-to-l from-indigo-200 via-indigo-300 to-indigo-200;
}

.input {
  @apply w-full;
}

.swiper-button-prev,
.swiper-button-next {
  @apply hidden! sm:flex!;
}

.swiper-navigation-icon {
  @apply text-accent size-8! lg:size-10;
}

.swiper-pagination-bullet-active {
  @apply bg-accent!;
}
